@font-face {
    font-family: "Lexend";
    src:
        local("Lexend"),
        url("../Lexend.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Martian Mono";
    src:
        local("Martian Mono"),
        url("../MartianMono.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Lexend", sans-serif;

    justify-items: center;

    margin: 0;
    padding: 0;

    background-color: whitesmoke;
}

#body {
    margin: 0;
    padding: 0;
    justify-items: center;

    max-width: max(100vh, 600px);
    width: 100%;
}

table {
    border-spacing: 5px;
    font-size: large;
}

th {
    --border-radius: 100px;
    --padding-edge: 20px;
    padding: 5px;

    --font-size: 110%;
}

th:nth-child(odd) {
    padding-left: var(--padding-edge);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

tbody th:nth-child(odd) {
    font-size: var(--font-size);
    text-align: right;
}

th:nth-child(even) {
    padding-right: var(--padding-edge);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

tbody th:nth-child(even) {
    text-align: left;
    font-family: "Martian Mono", monospace
}

table thead tr th {
    background-color: silver;
    font-weight: 600;
    text-align: center;
    font-size: var(--font-size);
}

table tbody tr th {
    font-weight: normal;
}

tbody tr:nth-child(5n + 1) {
    background-color: lightcoral;
}

tbody tr:nth-child(5n + 2) {
    background-color: lightsalmon;
}

tbody tr:nth-child(5n + 3) {
    background-color: lightgreen;
}

tbody tr:nth-child(5n + 4) {
    background-color: lightskyblue;
}

tbody tr:nth-child(5n + 5) {
    background-color: plum;
}

p {
    font-size: smaller;
}

div.description {
    max-width: 80ch;
    text-align: justify;
    hyphens: auto;
    padding: 5px;
}

summary {
    padding: 5px;
    width: fit-content;
}

summary:hover {
    background-color: lightgrey;
    border-radius: 5px;
}
