body {
    background-color: black;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Lexend", sans-serif;
    color: #131313;
    background-color: darkblue;
}

div {
    margin: 1px;
    background-color: rgba(200, 200, 255, 0.4);
    min-width: 100px;
    min-height: 10px;
    border: 1px solid red;
    padding: 1px;
}

svg {
    margin: 2px;
    padding: 2px;
}

.base_category {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.category {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
}

.sub_category {
    display: grid;
    flex-grow: 0;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
}

.title {
    grid-column-start: span 2;
    text-align: center;
}

.item {
    vertical-align: middle;
}
