body {
    background-color: black;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Lexend", sans-serif;
    color: #131313;
    background-color: darkslateblue;
}

div {
    margin: 8px;
    background-color: rgba(200, 200, 255, 0.3);
    min-width: 100px;
    min-height: 10px;
    border: 2px solid rgba(255, 0, 0, 0.5);
    padding: 1px;
}

svg {
    margin: 8px;
    padding: 2px;
}

.base_category {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.base_title {
    text-align: center;
}

.base_content {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.category {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
}

.category_content {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub_category {
    display: grid;
    flex-grow: 0;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    margin: 2px;
}

.title {
    flex-grow: 0;
    grid-column-start: span 2;
    text-align: center;
}

.buttons {
    vertical-align: middle;
    background-color: none;
}
