body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Lexend", sans-serif;
    color: #131313;
    background-color: darkslateblue;
}

div {
    min-width: 10px;
    min-height: 10px;
    /* border: 2px solid rgba(255, 0, 0, 0.5); */
    flex-grow: 0;
}

svg, .item {
    margin: 5px;
}

svg {
    justify-self: end;
}

.item {
    margin-left: 0;
}

.container {
    background-color: rgba(190, 180, 255, 0.4);
    margin: 10px;
    margin-top: 0;
    border-radius: 5px;
}

.title {
    margin: 5px;
    grid-column-start: span 2;
    text-align: center;
    font-weight: 550;
}

/* .buttons {
    vertical-align: middle;
    background-color: none;
} */

.base_category {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 0;
}

.base_title {
    text-align: top;
}

.base_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.category {
    display: flex;
    flex-direction: column;
}

.category_title {
    text-align: center;
}

.category_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub_category {
    height: max-content;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    align-items: center;
}
